# Pandas Installation & Environment Setup

This notebook explains how to install Pandas and verifies
that the environment is set up correctly for data analysis.

# Install pandas using pip
pip install pandas

#or if you are using Anaconda
# Install pandas using conda
conda install pandas

In [5]:
import pandas as pd
pd.__version__

#This proves Pandas is installed.

'2.3.3'

In [6]:
#Here is small example-
df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 22]
})

df

  Name  Age
0    A   20
1    B   21
2    C   22