Pandas is built on two main data structures:

    Series → One-dimensional (like a single column in Excel)
    DataFrame → Two-dimensional (like a full spreadsheet or SQL table)

In [1]:
import pandas as pd

In [28]:
#Series
s = pd.Series([89, 55, 77, 99])

In [29]:
s

0    89
1    55
2    77
3    99
dtype: int64

In [30]:
type(s)

pandas.core.series.Series

In [31]:
s2 = pd.Series([89, 55, 77, 99], index=["Rahul", "Divyanshu", "Prateek", "Harsh"])

In [32]:
s2

Rahul        89
Divyanshu    55
Prateek      77
Harsh        99
dtype: int64

In [34]:
s2["Rahul"]

np.int64(89)

A DataFrame is like a dictionary of Series — multiple columns with labels.

In [35]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [37]:
df = pd.DataFrame(data)

In [38]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [40]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [42]:
df.columns

Index(['name', 'age', 'city'], dtype='object')